@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700|Montaga:100,200,300,400,500,600,700|Cormorant+Garamond:100,200,300,400,500,600,700');


body{
    margin:0;
    padding:0;
    border:0;
    color:#fff;
    overflow-x: hidden;
}

.main{
    background-color:black;
}
/*-----------------------------Home Page CSS---------------*/


.logo a, .nav a, .social i{
    color:#fff;
    line-height: 40px;
}

.logo a{
    font-family:"Oswald", sans-serif;
    font-size:30px;
    letter-spacing: 2px;
    font-weight: 600;
}

.nav a{
    font-family:"Oswald", sans-serif;
    letter-spacing: 2px;
}

.social i{
    font-size:25px;
}

.logo a:hover, .nav a:hover, .social i:hover{
    color:orange;
    text-decoration: none;
}

.logo-sm{
    font-family:"Oswald", sans-serif;
    font-size:30px;
    letter-spacing: 2px;
    font-weight: 600; 
}


.logo-sm a{
    color:#fff;
}

.logo-sm a:hover{
    color:orange;
    text-decoration:none;
}

.logo-text, .menu-sm{
    line-height:40px;
}

.drop-sm{
    line-height: 20px;
}


.menu-sm button{
    font-family:"Oswald", sans-serif;
    letter-spacing: 2px;  
}

.menu-sm:hover{
    color:orange;
}

.drop-sm a{
    font-family:"Roboto", sans-serif;
    font-size:12px;
    color:#fff;
}

.drop-sm a:hover{
    color:orange;
}


.home-bg{
    background-color:#000;
    background:url("../media/photo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    height:100vh;
    width:100vw;
}

.home-bg h5{
    padding-top:40vh;
    font-family:"Exo", sans-serif;
    color:orange;
    font-weight:500;
}

.home-bg h1{
    font-family:"Oswald", sans-serif;
    color:#fff;
    font-weight:700;
    font-size:35px;
}

.home-bg h5, .home-bg h1{
    padding-left:5vw;
}

.home-text{
    background:url("../media/bgpic.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    font-family:"Cormorant Garamond", sans-serif;
    background-color:transparent;
    height:100vh;
    text-align:center;
    color:#fff;
}

.home-text h5{
    font-size:3vw;   
}

.home-text div{
    padding-top:25vh;
}

.divider{
    background-color:orange;
    width:80vw;
    height:0.5vh;
}

.home-text-sm{
    background:url("../media/bgpic.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    font-family:"Cormorant Garamond", sans-serif;
    background-color:transparent;
    height:100vh;
    text-align:center;
    padding-top:10vh;
}

.home-text-sm{
    font-size:30px;  
}

.home-text-sm h5{
    color:#fff;  
}

.home-text-sm div{
    padding-top:20vh;
}

/*--------------------------------Contact Page css----------------------*/

.font-container{
    height:120px;
    width:120px;
    border-radius:50%;
    margin: 0 auto;
}

.inner-font-container{
    height:60px;
    width:60px;
    border-radius:50%;
    background-color:black;
    position:relative;
    top:25%;
    left:25%;
}

.contact-font {
    color:orange;
    font-size:30px;
    width:100%;
    text-align:center;
    padding-top:15px;
    
}

.contact-font-sm  {
    color:orange;
    font-size:5vw;
    padding-top:3vh;
    padding-left:5.5vw;
    text-align:center;
}

.new-contact h3, .new-contact h5{
    font-family:"Oswald",sans-serif;
}

.new-contact h3{
    color:#fff
}

.new-contact{
    margin-top:110vh;
}

#first-name, #last-name, #description {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#firstn, #lastn, #desc{
    font-family:"Oswald",sans-serif;
    color:orange;
}

.shoot {
  background-color: orange;
  color: white;
  padding: 12px 20px;
  border: 1px solid none;
  border-radius: 5px;
  font-family:"Exo", sans-serif;
}

.shoot:hover {
  background-color: #fff;
  color:orange;
  font-family:"Exo", sans-serif;
}


.container {
  border-radius: 5px;
  padding: 20px;
}

/*This code was modified (animation on the contact page) to suit project purpose, the record of the source was misplaced*/
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  height: 100vh;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
}

.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.animated-title > div div {
  
  padding: 2vmin 0;
  position: absolute;
}

.animated-title > div div span {
  display: block;
}

.animated-title > div.text-top {
  border-bottom: 1vmin solid orange;
  top: 0;
  font-family:"Oswald", 'Courier New', Courier, monospace;
}

.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.animated-title > div.text-top div span:first-child {
  color: #fff;
  font-size:7vw;
}

.animated-title > div.text-top div span {
  color: #fff;
  font-size:7vw;
}

.animated-title > div.text-bottom {
  bottom: 0;
  color:orange;
  font-family:"Oswald", 'Courier New', Courier, monospace;
  font-size:4vw;
}

.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.details{
    max-height: 70vh;
    margin-top:120vh;
}

.contact-detail{
    color:orange;
    font-weight: 600;
}

/*---------------------Resume css----------------*/

.prog-one h1, .prog-one h5{
    text-align:center;
}

.prog-one h1{
    margin-top:40vh;
    font-family:"Oswald",sans-serif;
    font-size:4.5vw;
    font-weight:600;
    color:#fff;
}

.prog-sm h1{
    font-size:30px;
}

.prog-one h5{
    font-family:"Exo",sans-serif;
    font-size:17px;
    color:orange;
}

.prog-lg h5{
    font-size:2vw;
}


.download{
    margin-top:60vh;
}

.download-btn{
    background-color: orange;
    color:#fff;
    border-radius:5px;
    width:250px;
    padding:10px 0 10px 0;
}

.download-btn i{
    color:#fff;
    width:100%;
    height: 100%;
}

.download-btn i:hover{
    background-color: #fff;
    color:orange;
}

.download-btn:hover{
    background-color: #fff;
    color:orange;
}

.download-container{
    background-color:#000;
    border-radius:10px;
}
